<html>
<head>
<title> Extra Work </title>
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
</head>
<style>
#rmid{background-color:#999999; height:80px;}
#mleft{ background-color:#CCCCCC; height:30px;}
#mryt{ height:30px;}

</style>
<body>
<div class="row">
    <div id="rmid" class="col-md-9 text-center"><ins>Level:1</ins>
    
    <!-- <ins> tag is use as underline</ins>
         <s> is used to cut the text</s> --->
    
        <div id="mid" class="row">
            <div id="mleft" class="col-md-7"><s>level:2</s></div>
            <div id="mryt" class="col-md-3"><samp><em>Level:2</em></samp></div>
        </div>
    </div>
</div>
<div class="text-justify text-capitalize"> Jashika</div>
    <!-- <small> tag is used to small the text</small> ----->

<small><strong class="text-muted"> Heading...</strong></small>
<blockquote class="blockquote-reverse"> For quoting blocks of content from another source within your document.
<footer> Made by Jashika</footer>
</blockquote>
      <!---- <blockquote> is used to give the text in quote pattern</blockquote> ------->
</body>
</html>