{% load staticfiles %}
{% block content %}
<html>
<head>
<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
<link href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css" rel="stylesheet" />
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js '%}"></script>
<link href="{% static 'bxslider-4-4.2.12/src/css/jquery.bxslider.css' %}" type="text/css" rel="stylesheet"/>
<script src="{% static 'bxslider-4-4.2.12/dist/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js '%}"></script>
<script>
$(document).ready(function(){
$(".slider").bxSlider({
auto:true
});
});
</script>
</head>
<title>Tiffen Service</title>

                                    <!--------------- stylesheet---------------->
<style>
#head{  background:rgba(255,0,0,0.7);}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img { height:590px; width:100%;}
#header{ }
#hright{ padding-right:80px;}
#hright button{ margin-top:20px;}
#hlft img{ margin-left:10px;}
#hlft h2{  font-family:Georgia, "Times New Roman", Times, serif; color:#000000;}
#hright a{ color:#000000; margin-top:10px; font-weight:bold;}
#hright a:hover{ color:#FF0000; }
#mid{  background:rgba(0,0,0,0.8); color:#FFFFFF; }
#image2{ padding:30px;  }
#image h3{ margin-top:40px; margin-bottom:30px; color:#FF0000;}
#foot1{ border:2px solid grey; }
#footer{ padding:20px 0px 20px 0px;}
#footer1{ border-top:3px dashed black; background:rgba(255,0,0,0.7);}
#foot{ padding-bottom:20px;}
#foot h1{ font-family:Monotype Corsiva;}
#hleft{}
#hmid{ padding-top:40px;}
#hryt{ padding-top:40px;}
#final{ background:rgba(0,0,0,0.3);}
#final h3{ color:#FFFFFF;}
#final h5{ color:#FFFFFF;}
#hmid a{ color:#CCCCCC;}
#hmid a:hover{ color:#FF0000;}

</style>
                                    
                                    
                                    <!--------------- Body---------------->

<body style="background-image:url('{% static 'images/photo-1490818387583-1baba5e638af.jpg' %}'); background-size:cover">
<div id="main" class="container-fluid">
<div id="head" class="col-md-12">
<div class="col-md-8 col-md-offset-2"><h5><b>Phone:</b> 9877644756 &nbsp; &nbsp; &nbsp; &nbsp;
<span class="glyphicon glyphicon-envelope" ><b>Email:</b>jashika134@gmail.com</span></h5>
</div></div>
<div id="header" class="col-md-12">
    <div id="hlft" class="col-md-3">
    <img src="{% static 'images/LogoMakr_6wStbT.png' %} " height="70px" width="150px"/><span>TiffenService</span></div>
    <div id="hright" class="col-md-9">
    <nav>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Home</a></li>
    <li><a href="#">Discounts</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><button class="btn btn-danger" style="margin-right:10px">Signup</button></li>
    <li><button class="btn btn-danger">Login</button></li>
    </ul>
    </nav>
    </div>
</div>

<div id="gal" class="col-md-12">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static 'images/pexels-photo-357743.jpg' %}" >
    </div>

    <div class="item">
        <img src="{% static 'images/pexels-photo-175753.jpeg' %}" >
    </div>

    <div class="item">
        <img src="{% static 'images/pexels-photo-2113556.jpeg' %}" >
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<div id="image" class="col-md-12 text-center"><h3><b><ins>Why Tasty Tiffen Service</ins></b></h3><br>
<div class="col-md-8 col-md-offset-2">
    <div id="ifrst" class="col-md-4">
        <img src="{% static 'images/phone-call.svg' %}" height="50px" width="50px"/>
        <h5><b> Order by call/web</b></h5></div>
    <div id="isecond" class="col-md-4">
        <img src="{% static 'images/handshake.svg' %}" height="50px" width="50px"/>
        <h5><b>Happy and Trusted customer</b></h5></div>
    <div id="ithird" class="col-md-4">
        <img src="{% static 'images/like.svg' %}" height="50px" width="50px"/>
        <h5><b>World's best tiffen service</b></h5></div>
</div>
</div>

<div id="image2" class="col-md-12 text-center">
<div class="col-md-8 col-md-offset-2">
    <div id="ifrt" class="col-md-4">
        <img src="{% static 'images/meal.png' %}" height="50px" width="50px"/>
        <h5><b>Fresh and quality ingredients</b></h5></div>
    <div id="isec" class="col-md-4">
        <img src="{% static 'images/loader.svg' %}" height="50px" width="50px" />
        <h5><b>Free home delivery</b></h5></div>
    <div id="itrd" class="col-md-4">
        <img src="{% static 'images/cooking.svg' %}" height="50px" width="50px"/>
        <h5><b>Home like food</b></h5></div>
</div>
</div>





<div id="footer" class="col-md-12" >

<img src="{% static 'images/pexels-photo-958545.jpeg' %}" style="height:270px"  width="25%" class="img-thumbnail"/>
<img src="{% static 'images/photo-1505253758473-96b7015fcd40.jpg' %}" style="height:270px" width="24%"  class="img-thumbnail"/>
<img src="{% static 'images/FotoJetcoverindianrest.jpg' %}"  style="height:270px" width="25%"  class="img-thumbnail"/>
<img src="{% static 'images/pexels-photo-941869.jpeg' %}"  style="height:270px" width="25%"  class="img-thumbnail"/>
</div>

<div id="foot" class="col-md-12 text-center">
<h1 style="color:#FF0000"><b> What our customer say</b></h1>
	<div class="col-md-6 col-md-offset-3 text-center">
	<div class=" slider">
		<div  id="foot1">
		<img src="{% static 'images/smile.svg' %} " height="60px" width="100px" style="margin-top:20px"/><br><br>
		<img src="{% static 'images/78313.svg' %} " height="40px" width="40px" /><br>
		<h3>Jashika</h3><br>
		<p style="font-family:Comic Sans MS">Your food is fresh,properly prepared and a great value for the price.</p>
	</div>
    
<div  id="foot1">
	<img src="{% static 'images/smile.svg' %} " height="60px" width="100px" style="margin-top:20px"/><br><br>
	<img src="{% static 'images/78313.svg' %} " height="40px" width="40px" /><br>
	<h3>Seema</h3><br>
	<p style="font-family:Comic Sans MS">Your food quality is good.I give 5 star to this project.</p>
</div>

	<div  id="foot1">
	<img src="{% static 'images/smile.svg' %} " height="60px" width="100px" style="margin-top:20px"/><br><br>
	<img src="{% static 'images/78313.svg' %} " height="40px" width="40px" /><br>
	<h3>Dishika</h3><br>
	<p style="font-family:Comic Sans MS">Service is fast.</p>
	</div>
    
<div  id="foot1">
	<img src="{% static 'images/smile.svg' %} " height="60px" width="100px" style="margin-top:20px"/><br><br>
	<img src="{% static 'images/78313.svg' %} " height="40px" width="40px" /><br>
	<h3>Ruhi</h3><br>
	<p style="font-family:Comic Sans MS">Good service.I prefer to all to must buy food</p>
</div>

	<div  id="foot1">
	<img src="{% static 'images/smile.svg' %} " height="60px" width="100px" style="margin-top:20px"/><br><br>
	<img src="{% static 'images/78313.svg' %} " height="40px" width="40px" /><br>
	<h3>Vanshika</h3><br>
	<p style="font-family:Comic Sans MS">In less price quality is good.</p>
	</div>

<div  id="foot1">
	<img src="{% static 'images/smile.svg' %} " height="60px" width="100px" style="margin-top:20px"/><br><br>
	<img src="{% static 'images/78313.svg' %} " height="40px" width="40px" /><br>
	<h3>Noordeep kaur</h3><br>
	<p style="font-family:Comic Sans MS">Mind blowing food for the person who live outside. </p>
</div>
</div>
</div>
</div>

<div id="footer1" class="col-md-12 text-center">
<h4 style="font-family:Consolas"><span style="color:#FFFFFF">Copyright 2045 All Rights Reserved|design by:</span> HTML Design</h4>
</div>



<div id="final" class="col-md-12">
<div class="col-md-10 col-md-offset-1">
    <div id="hleft" class="col-md-4" style="padding-top:40px">
    <h3><b>About Tasty Tiffen Service</b></h3>
    <b><h5 style="font-family:Verdana, Arial, Helvetica, sans-serif">We provide healthy and fresh food to our<br> customer.Please give your feedback to the food.</h5></b>
    </div>
    <div id="hmid" class="col-md-4">
    <h3><b>NAVIGATION</h3><BR></b>
    <nav>
    <ul>
    <li style="color:#CCCCCC"><a href="#">Home</a></li>
    <li style="color:#CCCCCC"><a href="#">Discounts</a></li>
    <li style="color:#CCCCCC"><a href="#">About</a></li>
    <li style="color:#CCCCCC"><a href="#">Contact</a></li>
    <li style="color:#CCCCCC"><a href="#">Terms and condition</a></li>
    <li style="color:#CCCCCC"><a href="#">FAQ</a></li>
    </ul>
    </nav>
    </div>
    <div id="hryt" class="col-md-4">
    <h3><b>CONTACT INFO</b></h3>
    <h5>Call us: 9877644756</h5>
    <h5>Email: jashika134@gmail.com</h5>
    <h5>Address #33369,partap nagar,street 9A</h5>
    </div>
</div>
</div>

</div>
</body>
</html>
{% endblock %} 