<html>
<head>
<title>Latest Template</title>
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"  />
</head>



<style>
#gallery{ background-image:url(pexels-photo-1020315.jpeg); padding:200px;}
#gallery h1{ font-size:60px; color:#FFFFFF;}
#gallery p{ font-size:20px; color:#999999;}
#con1{ top:-20px; position:relative;}
/* .centered{ position:absolute; bottom:8px;}*/

</style>

<body>
<div id="main" class="container-fluid">
<div id="header" class="row text-right">
   <div id="hlft" class="col-md-3">
   <h2>Travelers</h2>
   </div>
   <div id="hryt" class="col-md-6">
   <nav>
   <ul class="nav navbar-nav navbar-right" style="padding-top:10px">
   <li><a href="#">Home</a></li>
   <li><a href="#">Destinations</a></li>
   <li><a href="#">Discount</a></li>
   <li><a href="#">About</a></li>
   <li><a href="#">Contact</a></li>
   <li><a><span class="glyphicon glyphicon-download"></span></a></li>
   <li><a><span class="glyphicon  glyphicon-earphone"></span></a></li>
   <li><a><span class="glyphicon glyphicon-eye-open"></span></a></li>
   <li><a><span class="glyphicon glyphicon-hand-down"></span></a></li>
   </ul>
   </nav>
   </div>
</div>

<div id="gallery" class="row text-center">
<h1>Love the places</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est inventore ducimus repudiandae.</p><br>
<button class="btn btn-danger">Book Now!</button>
</div>

<div id="content"  class="row">
<div id="con1" class="col-md-6 col-md-offset-3">
     <div id="clft" class="col-md-4">
     <img src="cake-3257019_1280.jpg" height="350px" width="300px"/>
     </div>
        
     <div id="cmid" class="col-md-4">
     <img src="gettyimages-482785048-2048x2048.jpg" height="350px" width="300px"/>
     </div>
     
     <div id="cryt" class="col-md-4">
     <img src="Masala_Story_DC_food.0.jpg" alt="Write down your experience" height="350px" width="300px"/>
     </div>

</div>
</div>








</div>
</body>
</html>
