<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="js/npm.js" type="text/javascript"></script>
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet"/>
</head>
<title>Practice Template</title>


<body>
<div id="row" class="container-fluid">
<div id="header" class="col-md-7 text-left">
<h2>Education Site</h2>
</div>
   
    <div id="hryt" class="col-md-5">
    <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Classes
        <span class="dropdown-toggle" data-toggled="dropdown">
             <i class="glyphicon glyphicon-arrow-down"></i>
        </span></a>
        <ul  class=" sub-menu dropdown-menu">
        <li class="menu-item"><a href="#">English </a></li>
        <li class="menu-item"><a href="#">Hindi</a></li>
        </ul>
        </li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
/* <![CDATA[ */
var ShapelyAdminObject = {"sticky_header":"1"};
/* ]]> */
</script>
</body>
</html>